<p>We have locked your account due to too many unsuccessful login attempts.</p>

<p>Please click on the following button to unlock your account:</p>

<%= render PhoenixBase.Email.UserView, "_button.html",
      href: unlock_url(@conn, :unlock_account, %{token: @user.unlock_token}),
      text: "Unlock account" %>
