<p>Thank you for signing up at Phoenix Base!</p>

<p>Please click the following button to confirm your account and set your password:</p>

<%= render PhoenixBase.Email.UserView, "_button.html",
      href: registration_url(@conn, :complete_registration, %{token: @user.confirmation_token}),
      text: "Complete registration" %>
