<p>We have received a request to change your password.</p>

<p>To reset your password please click this button:</p>

<%= render PhoenixBase.Email.UserView, "_button.html",
      href: unlock_url(@conn, :password_reset, %{token: @user.login.reset_token}),
      text: "Reset your password" %>

<p><i>This request will expire in 12 hours.</i></p>

<p>If this is a mistake just ignore this email. Your password will not be changed.</p>
