<p>Thank you for signing up at Phoenix Base!</p>

<p>Please click the following link to confirm your account and set your password:</p>

<%= link to: registration_url(@conn, :complete_registration, %{token: @user.confirmation_token}) do %>
  <%= registration_url(@conn, :complete_registration, %{token: @user.confirmation_token}) %>
<% end %>
