<p style="font-size:10px">
  If the button does not work for you copy and paste the following url into your browser:
  <br/>
  <%= link to: unlock_url(@conn, :password_reset, %{token: @user.login.reset_token}) do %>
    <%= unlock_url(@conn, :password_reset, %{token: @user.login.reset_token}) %>
  <% end %>
</p>
