@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "_bootstrap_variables";
@import "~bootstrap/scss/bootstrap";

.turbolinks-progress-bar {
  height: 2px;
  background-color: #cc7d7b;
}

.alert {
  margin-bottom: 0;
}

main[role=main] {
  margin-top: 1rem;
}

.login-card {
  @extend .card;

  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
}

.list-group-flush > .list-group-item {
  border-width: 0;
  border-top-width: 1px;

  &:first-child {
    border-top-width: 0;
  }
}
